#oiseau1{
    top: 2.15rem;
    left: 44.6%;
}

#oiseau2{
    top: 2.6rem;
    left: 52.4%;
}

#oiseau3{
    top: 4.4rem;
    left: 55.2%;
}

#oiseau4{
    top: 6.1rem;
    left: 59%;
}

#oiseau5{
    top: -0.5rem;
    left: 43.3%;
}

#oiseau6{
    top: -4.2rem;
    left: 55.8%;
}

#oiseau7{
    top: -7.8rem;
    left: 34.2%;
}

#oiseau8{
    top: -7.4rem;
    left: 28.2%;
}